---
layout: default
bodyClass: "page-service"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start w-100">
      <div class="col-12 col-md-12 mb-12">
        <h1>Latest News</h1>
        <ul class="list-unstyled ps-3">
          {% for new in site.news reversed %}
            <li class="mb-2 d-flex align-items-center">
              <i class="bi bi-newspaper text-primary me-2 fs-4"></i> <!-- Bootstrap Icon -->
              <a href="{{ new.url | relative_url }}" target="_blank" class="text-decoration-none text-dark fs-5">
                {{new.time}} <br>
                {{ new.title | markdownify | strip_html | truncate: 100 }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
