---
layout: default
bodyClass: "page-services"
---


<div class="intro">
  <div class="container">
    <div class="row justify-content-start w-100">
      <div class="col-12 col-md-12 mb-12">
        <h1>Latest publications</h1>
        {% for publication in site.publications reversed %}
            <span>
              <a href={{publication.link}} target="_blank">
                <div class="publication-summary d-flex align-items-center">
                {% if publication.field == "cloud" %}
                <span class="badge custom-badge-iot">IoT-Edge-Cloud</span>
                {% elsif publication.field == "hpc" %}
                <span class="badge custom-badge-hpc">HPC</span>
                {% endif %}
                <p class="ms-3">{{publication.title | markdownify | strip_html | truncate: 500}}</p>
                </div>
            </a>
           </span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="strip">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
          <h1>Ongoing research projects</h1>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-0 pb-0 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for project in site.projects limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{project.url | relative_url }}">{{ project.title }}</a>
            </h2>
            <p>{{ project.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>





<div class="strip">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
          <h1>Previous research projects</h1>
      </div>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-0 pb-0 pb-md-10">
    <div class="row justify-content-start">
      {% for project in site.old_projects limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{project.url | relative_url }}">{{ project.title }}</a>
            </h2>
            <p>{{ project.excerpt | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>